/* /Views/Shared/_Layout.cshtml.rz.scp.css */
/* CVO Lethas themed layout overrides */

a.navbar-brand[b-6akvjw5q1w] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.border-top[b-6akvjw5q1w] {
    border-top: 1px solid #e0e0e0;
}

.border-bottom[b-6akvjw5q1w] {
    border-bottom: 1px solid #e0e0e0;
}

.box-shadow[b-6akvjw5q1w] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-6akvjw5q1w] {
    font-size: 1rem;
    line-height: inherit;
}
